.nav-link{
    color:white;
    
}

.navbar-brand{
    color:white;
}


.btn-dark{
    background-color: #1f0f0f;
    border-radius: 100px;
    box-shadow:0px 5px 3px rgba(255,92,0,0,5);
    border-color:#000000;
}

.footer{
    background-size: 200px;
}